<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Keygen Admin</title>
    <meta name="description" content="Keygen Admin for managing your software licenses">
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <div id="container">